
<html>
    <head>
        {% block stylesheets %}
            {{ vite_entry_link_tags('cms') }}
        {% endblock %}

        {% block javascripts %}
            {{ vite_entry_script_tags('cms') }}
        {% endblock %}
    </head>
    <body>
    </body>
</html>


